<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nuventra.nuvexamq</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/NuvexaMQ.app/Contents/Resources/server/nuvexamq</string>
    <string>--data</string>
    <string>/Library/Application Support/NuvexaMQ/data</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Library/Application Support/NuvexaMQ/data</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Library/Logs/NuvexaMQ/nuvexamq.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/NuvexaMQ/nuvexamq.log</string>
</dict>
</plist>
